

*.bak
*.kicad_pcb-bak
*.bck


#Folder
Order Information/
Testing/
Docs/Manual/
Docs/Trinamic
Enclosure/3D model
Competitor/
Firmware/

# Uncle Phil
UnclePhilSpecialEdition/
MPCNC Nano Estlcam Shield_UnclePhilSpecialEdition.pro
MPCNC Nano Estlcam Shield_UnclePhilSpecialEdition.kicad_pcb
Libraries/Footprints/MPCNC_Shield_Footprints.pretty/Uncle Phil.kicad_mod
Libraries/Footprints/UnclePhil.png
Gerber/V1.3_Uncle_Phil_Special_Edition.zip


#General Single Files
_autosave-MPCNC Nano Estlcam Shield.kicad_pcb
Docs/Power Supply.md
Libraries/Footprints/mod_conn_mkds.zip
Libraries/Packages3D/

Parts/Terminalblock/1514386801606970.jpg
Docs/3D CAD/MPCNC Nano Estlcam Shield_UnclePhilSpecialEdition.wrl
fp-info-cache
fp-info-cache
Docs/Endschalter anschließen.docx
Enclosure/Gehäuseanforderungen.txt
fp-info-cache
