
_autosave-MPCNC Nano Estlcam Shield V1.1.kicad_pcb
*.bak
*.kicad_pcb-bak
Docs/~$Current Consumption Calculation.xlsx

*.bck
*.dcm
Docs/MPCNC Nano Estlcam Shield V1.1 3D Model.jpg
Docs/MPCNC Nano Estlcam Shield V1.1 3D SneakPeak.jpg
Docs/Power Supply.md
Libraries/Footprints/mod_conn_mkds.zip
Libraries/Footprints/mod_conn_mkds/license.txt
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-10.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-11.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-12.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-13.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-14.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-15.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-16.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-2.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-3.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-4.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-5.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-6.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-7.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-8.kicad_mod
Libraries/Footprints/mod_conn_mkds/w_conn_mkds.pretty/mkds_1,5-9.kicad_mod
Libraries/Packages3D/3d_conn_mkds.zip
Libraries/Packages3D/arduino nano.STEP
Libraries/Packages3D/DRV8825.step
Libraries/Packages3D/HeatsinkTO220.step
Libraries/Packages3D/LM2596 DC-DC Buck Converter Module.stp
Libraries/Packages3D/TRIMER_POT.STEP
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-10.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-10.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-11.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-11.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-12.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-12.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-13.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-13.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-14.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-14.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-15.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-15.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-16.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-16.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-2.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-2.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-3.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-3.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-4.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-4.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-5.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-5.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-6.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-6.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-7.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-7.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-8.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-8.wrl
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-9.wings
Libraries/Packages3D/walter/conn_mkds/mkds_1,5-9.wrl
Libraries/Packages3D/walter/license.txt
Libraries/Packages3D/walter/release_notes.txt
