

*.bak
*.kicad_pcb-bak
*.bck


#Folder
Order Information/
Testing/
Docs/Manual/
Docs/Trinamic
Competitor/

# Uncle Phil
MPCNC Nano Estlcam Shield_UnclePhilSpecialEdition.pro
MPCNC Nano Estlcam Shield_UnclePhilSpecialEdition.kicad_pcb
Libraries/Footprints/MPCNC_Shield_Footprints.pretty/Uncle Phil.kicad_mod
Libraries/Footprints/UnclePhil.png
Gerber/V1.3_Uncle_Phil_Special_Edition.zip


#General Single Files
Docs/~$Current Consumption Calculation.xlsx
_autosave-MPCNC Nano Estlcam Shield.kicad_pcb
Docs/Power Supply.md
Libraries/Footprints/mod_conn_mkds.zip
Libraries/Footprints/mod_conn_mkds/
Libraries/Packages3D/



